header{
    border: solid 2px #67c5ff;
    text-align: center;
    padding: 5px 0;
    height:100px;
    margin: 0px;
    font-family:'SimSun';
}

h1{
    margin:0;
}

.block_botton{
    margin-bottom:0;
}

.button{
    background:white;
    padding:2em 2em;
    text-decoration:none;
    color:black;
    font-size:0.4em;
    font-family:'SimSun';
    text-align: center;
    margin:0;
  }
  
  .block{
    display:block;
    width: 200px;
    text-align: center;
    margin:0 auto;
  }

#Google_map{
    width: 100%;
    height:500px;
    text-align: center;
    margin:0 auto;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:5px;
    padding-bottom:5px;
}

footer{
    text-align: center;
    padding:5px 0;
    font-family:'SimSun';
    border-top: solid 2px #67c5ff;
}
