:root {
  --main-color: #67c5ff;
  --font-family: 'SimSun', sans-serif;
}

body {
  font-family: var(--font-family); 
}

.header {
  border: 2px solid var(--main-color);
  text-align: center;
  padding: 5px 0;  
}

.button {
  background: white;
  padding: 1em 1em;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 0 auto;
}

.block {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding: 5px 0;
  border-top: 2px solid var(--main-color);
}
