header{
    border: solid 2px #67c5ff;
    text-align: center;
    padding: 5px 0;
    padding-bottom:5px;
    font-family:'SimSun';
}

h1{
  margin:0;
}

.button{
    background:white;
    padding:1em 1em;
    border:black 2px solid;
    text-decoration:none;
    color:black;
    font-size:1.5em;
    font-family:sans-serif;
    margin:0 auto;
  }
  .block{
    display:block;
    width:300px;
    margin:0 auto;
    text-align: center;

  }

footer{
    text-align: center;
    padding:5px 0;
    font-family:'SimSun';
    border-top: solid 2px #67c5ff;
}
